@model  IEnumerable<XK.Models.StudentInfoModel>
@{
	ViewBag.Title = "doShowScore";
}
<div class="transparent-panel">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>序号</th>
				<th>学号</th>
				<th>姓名</th>
				<th>分数</th>
				<th>专业</th>
			</tr>
		</thead>
		<tbody>
			@{ int i = 1;}
			@foreach(var item in Model)
			{

				<tr>
					<td>@(i++)</td>
					<td>@Html.DisplayTextFor(m => item.stu_id)</td>
					<td>@Html.DisplayTextFor(m => item.stu_name)</td>
					<td>
						@Html.DisplayTextFor(m => item.stu_score)
					</td>
					<td>@Html.DisplayTextFor(m => item.stu_major)</td>
				</tr>
			}
		</tbody>
	</table>
</div>

