@model List<XK.Models.StudentInfoModel>

<div class="transparent-panel">
	<h5>@ViewBag.corid/@ViewBag.corname</h5>
	@using (Html.BeginForm("doInsertScore", "Teacher", FormMethod.Post))
	{
		<table class="table table-hover">
			<thead>
				<tr>
					<th>学号</th>
					<th>姓名</th>
					<th>分数</th>
					<th>专业</th>
				</tr>
			</thead>
			<tbody>
				@for(int i = 0;  i<Model.Count; i++)
				{
					@Html.HiddenFor(m=>Model[i].cor_id)
					@Html.HiddenFor(m => Model[i].stu_id)
					@Html.HiddenFor(m => Model[i].stu_name)
					@Html.HiddenFor(m => Model[i].stu_major)
					@Html.HiddenFor(m => Model[i].sco_id)
					<tr>
						<td>@Html.DisplayTextFor(m => Model[i].stu_id)</td>
						<td>@Html.DisplayTextFor(m => Model[i].stu_name)</td>
						<td>
							@Html.EditorFor(m => Model[i].stu_score)
						</td>
						<td>@Html.DisplayTextFor(m => Model[i].stu_major)</td>
					</tr>
				}
			</tbody>
		</table>
		<input type="submit" class="btn btn-primary btn-block" value="提交" />
	}
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>