@model IEnumerable<XK.Models.SelectCourseItem>
@*@model IEnumerable<XK.Models.xk_Course>*@
<hr />
<div class="transparent-panel">
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>课号</th>
				<th>课名</th>
				<th>教师号</th>
				<th>时间</th>
				<th>地址</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.cid</td>
					<td>@item.cname</td>
					<td>@item.ctec</td>
					<td>@item.ctime</td>
					<td>@item.caddr</td>
					<td>
						@using (Ajax.BeginForm("doSelectCourse", "Student", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "ajaxshow", InsertionMode = InsertionMode.InsertAfter }))
						{
							@Html.HiddenFor(c_id => item.ccid)
							<input type="submit" class="btn btn-warning" value="选课" />
						}
				</td>
				</tr>
			}
		</tbody>
	</table>
</div>