<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-2.2.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("cssfile", false)
</head>
<body>
    <div class="header">
        <div class="infoheader">版本:1.0</div>
        <h1>@RenderSection("BigTitle",true)</h1>
        <h4>@RenderSection("SubTitle", false)</h4>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
