@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title="管理员首页";
 }
@section cssfile{
    <link href="~/css/admin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.2.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
}

@section BigTitle{
    @Session["username"]
}

<div class="row" style="height:800px">
    <div class="col-lg-3" id="menu">
            <li>@Ajax.ActionLink("查看学生", "ShowStudent", "Admin", new AjaxOptions() { UpdateTargetId = "ajaxshow", HttpMethod = "post" })</li>
            <li>@Ajax.ActionLink("开通课程", "AddCourseItem", "Admin", new AjaxOptions() { UpdateTargetId = "ajaxshow", HttpMethod = "post" })</li>
            <li>@Ajax.ActionLink("添加课程", "AddCourse", "Admin", new AjaxOptions() { UpdateTargetId = "ajaxshow", HttpMethod = "post" })</li>
            <li>@Ajax.ActionLink("删除课程", "DeleteCourse", "Admin", new AjaxOptions() { UpdateTargetId = "ajaxshow", HttpMethod = "post" })</li>
            <li>@*@Ajax.ActionLink("修改课程", "UpdateCourse", "Admin", new AjaxOptions() { UpdateTargetId = "ajaxshow", HttpMethod = "post" })*@</li>
            <li>@Ajax.ActionLink("权限设置", "PrivilegeSetting", "Admin", new AjaxOptions() { UpdateTargetId = "ajaxshow", HttpMethod = "post" })</li> 
    </div>
    <div id="ajaxshow" class="col-lg-offset-4">
        <h1>Ajax返回分部视图在这里显示</h1>
    </div>
</div>