@model XK.Models.User
@{    
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
 }
@section BigTitle{
    @Model.u_name hhh
}
@section cssfile{
	<link rel="stylesheet" href="~/css/student.css" />
}

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div class="menu">
				<li>@Ajax.ActionLink("选课", "SelectCourse", "Student", new AjaxOptions() { UpdateTargetId = "ajaxshow", HttpMethod = "post" })</li>
				<li>@Ajax.ActionLink("退课", "DeleteCourse", "Student", new AjaxOptions() { UpdateTargetId = "ajaxshow", HttpMethod = "post" })</li>
				<li>@Ajax.ActionLink("查看课程", "ShowCourse", "Student", new AjaxOptions() { UpdateTargetId = "ajaxshow", HttpMethod = "post" })</li>
				<li>@Ajax.ActionLink("查看课程", "ShowTimetable", "Student", new AjaxOptions() { UpdateTargetId = "ajaxshow", HttpMethod = "post" })</li>
				<li>@Ajax.ActionLink("查看成绩", "ShowScore", "Student", new AjaxOptions() { UpdateTargetId = "ajaxshow", HttpMethod = "post" })</li>
			</div>
		</div>
		<div class="col-md-9">
			<div id="ajaxshow">
				
			</div>
		</div>
	</div>
</div>