@model XK.Models.User

@{    
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "教室首页";
 }

@section BigTitle{
    @Model.u_name hhh
}

<h1>学生登录页面</h1>
<hr />
<button type="button"  onclick="location.href = '@Url.Action("ShowTimeTable", "Teacher")'">查看课表</button>
<button type="button" onclick="location.href = '@Url.Action("ShowStudent", "Teacher")'">查看选课学生</button>
<button type="button" onclick="location.href = '@Url.Action("InsertScore", "Teacher")'">录入成绩</button>
<button type="button" onclick="location.href = '@Url.Action("UpdateScore", "Teacher")'">修改成绩</button>
<button type="button" onclick="location.href = '@Url.Action("ShowScore", "Teacher")'">查看成绩</button>