@model XK.Models.User

@{    
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "用户首页";
 }

@section BigTitle{
    @Model.u_name
}

<h1>学生登录页面</h1>
<hr />

<!--这个页面所有的内容都不用跳转, 可以直接返回结果, 将结果在当前页面显示, 运用阿贾克斯 在页面左边
    添加一块白板, 专门显示信息-->

<div class="row">
    <div class="col-lg-5">
        <button class="btn btn-block">
            @Ajax.ActionLink("查看学生人数", "ShowNum", "User", new AjaxOptions() { UpdateTargetId = "showinfo", HttpMethod = "get" })
        </button>
        <button class="btn btn-block">
            @Ajax.ActionLink("查看教师人数", "ShowTecNum", "User", new AjaxOptions() { UpdateTargetId = "showinfo", HttpMethod = "get" })
        </button>
        <button class="btn  btn-block">
            @Ajax.ActionLink("查看平均成绩", "ShowAvgScore", "User", new AjaxOptions() { UpdateTargetId = "showinfo", HttpMethod = "get" })
        </button>
        <button class="btn btn-block">
            @Ajax.ActionLink("查看留言", "ShowQuote", "User", new AjaxOptions() { UpdateTargetId = "showinfo", HttpMethod = "get" })
        </button>
        <button type="button" class="btn btn-block" onclick="javascript:showquoteinput()">留言</button>
        <p></p>
         <div class="panel panel-primary " id="quotepanel">
            <div class="panel-heading">
                <h3>请输入你的留言</h3>
            </div>
            <div class="panel-body">
                <textarea rows="8" name="quotecontent" class="form-control"></textarea>
            </div>
            <button class="btn btn-block">
                <h3>@Ajax.ActionLink("留言", "Quote", "User", new AjaxOptions() { UpdateTargetId = "showinfo", HttpMethod = "get" })</h3>
            </button>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="showinfo"></div> 
    </div>
</div>

<script>
    function showquoteinput() {
        $("#quotepanel").show();
    }
    function hidequoteinput() {
        $("#quotepanel").hide();
    }
    window.onload = hidequoteinput();
</script>